.table-view {
    -fx-background-color: #2980b9;
}
.table-cell {
    -fx-text-fill: black;
        -fx-alignment: CENTER;

}
.table-row-cell:even {
    -fx-background-color: #f0f0f0;
}



/* Style des en-têtes de colonnes */
.table-column .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0.5em;
    
   -fx-background-color:#C9C3C2
       ;
       -fx-text-fill: black;
}
.button {
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-opacity: 0.9
  
}


